<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Target Companies</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style/base.css') }}">
    {% block style %}
    {% endblock %}

</head>
<body>
    <nav class="navbar">
        <ul class="navbar-links nav-link" style="width: 100%;">
            <li>Target Companies</li>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Genrate</a></li>
        </ul>
    </nav>
    {% block content %}
    {% endblock %}
    {% block script %}
    {% endblock %}
</body>
</html>